site_name: "encantAR.js: GPU-accelerated Augmented Reality for the web"
site_url: https://alemart.github.io/encantar-js
site_author: Alexandre Martins
site_description: Open source WebAR engine. Runs everywhere. Easy to get started.
copyright: Copyright &copy; 2022 - present Alexandre Martins

repo_name: alemart/encantar-js
repo_url: https://github.com/alemart/encantar-js

theme:
  name: material
  custom_dir: docs_overrides
  features: [ 'navigation.tabs', 'navigation.tabs.sticky' ]

extra_css: [ 'style/extra.css' ]
extra_javascript: [ 'js/extra.js' ]

plugins:
  - search
  - mkdocs-simple-hooks:
      hooks:
        on_post_build: 'docs.hooks:copy_static_files'

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - md_in_html
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.gemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_png
      #emoji_index: !!python/name:materialx.emoji.gemoji 
      #emoji_generator: !!python/name:materialx.emoji.to_svg

dev_addr: 127.0.0.1:8008

nav:
  - 'Home': 'index.md'
  - 'Getting started':
    - 'Welcome': 'getting-started/index.md'
    - 'WebAR Crash Course':
      - 'Introduction': 'getting-started/introduction.md'
      - 'Concepts': 'getting-started/concepts.md'
      - 'Set up a web server': 'getting-started/set-up-a-web-server.md'
      - 'Set up the tracker': 'getting-started/set-up-the-tracker.md'
      - 'Set up the session': 'getting-started/set-up-the-session.md'
      - 'Create the augmented scene': 'getting-started/create-the-augmented-scene.md'
      - 'Activate your webcam': 'getting-started/activate-your-webcam.md'
      - 'Next steps': 'getting-started/next-steps.md'
    - 'Guidelines for Images': 'getting-started/guidelines-for-images.md'
    - 'Questions & Answers': 'faq.md'
    - 'Support my work': 'support-my-work.md'
    - 'License': 'license.md'
  - 'Download': 'download.md'
  - 'Demos':
    - 'Demo gallery': 'demos.md'
  - 'API':
    - 'General':
      - 'AR': 'api/ar.md'
      - 'Session': 'api/session.md'
      - 'Frame': 'api/frame.md'
      - 'Time': 'api/time.md'
      - 'Settings': 'api/settings.md'
      - 'Resolution': 'api/resolution.md'
    - 'Trackers':
      - 'Image tracker':
        - 'ImageTracker': 'api/image-tracker.md'
        - 'ReferenceImage': 'api/reference-image.md'
        - 'ReferenceImageDatabase': 'api/reference-image-database.md'
        - 'ImageTrackerResult': 'api/image-tracker-result.md'
        - 'TrackableImage': 'api/trackable-image.md'
      - 'Tracker': 'api/tracker.md'
      - 'TrackerResult': 'api/tracker-result.md'
      - 'Trackable': 'api/trackable.md'
    - 'Sources':
      - 'CameraSource': 'api/camera-source.md'
      - 'CanvasSource': 'api/canvas-source.md'
      - 'VideoSource': 'api/video-source.md'
      - 'Source': 'api/source.md'
    - 'Geometry':
      - 'Pose': 'api/pose.md'
      - 'Viewer': 'api/viewer.md'
      - 'ViewerPose': 'api/viewer-pose.md'
      - 'View': 'api/view.md'
      - 'PerspectiveView': 'api/perspective-view.md'
      - 'RigidTransform': 'api/rigid-transform.md'
    - 'Visualization':
      - 'Viewport': 'api/viewport.md'
      - 'HUD': 'api/hud.md'
      - 'Gizmos': 'api/gizmos.md'
    - 'Events':
      - 'AREvent': 'api/ar-event.md'
      - 'AREventListener': 'api/ar-event-listener.md'
      - 'AREventTarget': 'api/ar-event-target.md'
      - 'AREventType': 'api/ar-event-type.md'
    - 'Speedy':
      - 'Speedy': 'api/speedy.md'
      - 'SpeedySize': 'api/speedy-size.md'
      - 'SpeedyMatrix': 'api/speedy-matrix.md'
      - 'SpeedyPromise': 'api/speedy-promise.md'