site_name: "encantar.js: GPU-accelerated Augmented Reality framework for the web"
site_url: https://encantar.dev
site_author: Alexandre Martins
site_description: The home of encantar.js, a high performance and open source Augmented Reality framework for JavaScript. No app is required for Web AR.
copyright: Copyright &copy; 2022 - present Alexandre Martins

repo_name: alemart/encantar-js
repo_url: https://github.com/alemart/encantar-js

theme:
  name: material
  custom_dir: docs_overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
  palette:
    primary: deep purple
    accent: yellow
  logo: 'img/logo.png'
  favicon: 'img/favicon.png'

extra_css: [ 'style/extra.css' ]
extra_javascript: [ 'js/extra.js' ]

plugins:
  - search
  - mkdocs-simple-hooks:
      hooks:
        on_post_build: 'docs.hooks:copy_static_files'
  - redirects:
      redirect_maps:
        'api/index.md': 'api/ar.md'
        'buy/index.md': 'https://ko-fi.com/s/3ee4182cb6'
        'buy/ar-button.md': 'https://ko-fi.com/s/697a184728'
        'buy/ar-clickable.md': 'https://ko-fi.com/s/697a184728'
        'buy/ar-video-player.md': 'https://ko-fi.com/s/697a184728'
        'buy/ar-snapshot-button.md': 'https://ko-fi.com/s/513dcaf94a'
        'download.md': 'https://ko-fi.com/s/3ee4182cb6'

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - md_in_html
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.gemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_png
      #emoji_index: !!python/name:materialx.emoji.gemoji 
      #emoji_generator: !!python/name:materialx.emoji.to_svg

dev_addr: 127.0.0.1:8008

nav:
  - 'Home': 'index.md'
  - 'Demos':
    - 'Demos': 'demos.md'
  - 'Add-Ons':
    - 'Add-Ons': 'addons/index.md'
    - 'AR Button': 'addons/ar-button.md'
    - 'AR Clickable': 'addons/ar-clickable.md'
    - 'Video Player': 'addons/ar-video-player.md'
    - 'Take Photos': 'addons/ar-snapshot-button.md'
    - 'Asset Manager': 'addons/asset-manager.md'
    - 'More Add-Ons': 'addons/more-addons.md'
  - 'Learn':
    - 'Introduction': 'tutorial/index.md'
    - 'Concepts': 'tutorial/concepts.md'
    - 'Set up a web server': 'tutorial/set-up-a-web-server.md'
    - 'Set up the tracker': 'tutorial/set-up-the-tracker.md'
    - 'Set up the session': 'tutorial/set-up-the-session.md'
    - 'Activate your webcam': 'tutorial/activate-your-webcam.md'
    - 'Augment the scene': 'tutorial/augment-the-scene.md'
    - 'Next steps': 'tutorial/next-steps.md'
  - 'API':
    - 'General':
      - 'AR': 'api/ar.md'
      - 'Session': 'api/session.md'
      - 'Frame': 'api/frame.md'
      - 'Time': 'api/time-manager.md'
      - 'Settings': 'api/settings.md'
      - 'Resolution': 'api/resolution.md'
    - 'Plugins':
      - 'A-Frame': 'api/plugin-aframe.md'
      - 'Babylon.js': 'api/plugin-babylon.md'
      - 'Three.js': 'api/plugin-three.md'
    - 'Trackers':
      - 'Image tracker':
        - 'ImageTracker': 'api/image-tracker.md'
        - 'ReferenceImage': 'api/reference-image.md'
        - 'ReferenceImageDatabase': 'api/reference-image-database.md'
        - 'ImageTrackerResult': 'api/image-tracker-result.md'
        - 'TrackableImage': 'api/trackable-image.md'
      - 'Pointer tracker':
        - 'PointerTracker': 'api/pointer-tracker.md'
        - 'PointerTrackerResult': 'api/pointer-tracker-result.md'
        - 'TrackablePointer': 'api/trackable-pointer.md'
      - 'Tracker': 'api/tracker.md'
      - 'TrackerResult': 'api/tracker-result.md'
      - 'Trackable': 'api/trackable.md'
    - 'Sources':
      - 'CameraSource': 'api/camera-source.md'
      - 'CanvasSource': 'api/canvas-source.md'
      - 'VideoSource': 'api/video-source.md'
      - 'PointerSource': 'api/pointer-source.md'
      - 'Source': 'api/source.md'
    - 'Visualization':
      - 'Viewport': 'api/viewport.md'
      - 'HUD': 'api/hud.md'
      - 'Gizmos': 'api/gizmos.md'
    - 'Geometry':
      - 'Pose': 'api/pose.md'
      - 'Viewer': 'api/viewer.md'
      - 'ViewerPose': 'api/viewer-pose.md'
      - 'View': 'api/view.md'
      - 'PerspectiveView': 'api/perspective-view.md'
      - 'Transform': 'api/transform.md'
      - 'Vector2': 'api/vector2.md'
      - 'Vector3': 'api/vector3.md'
      - 'Quaternion': 'api/quaternion.md'
      - 'Ray': 'api/ray.md'
    - 'Events':
      - 'AREvent': 'api/ar-event.md'
      - 'AREventListener': 'api/ar-event-listener.md'
      - 'AREventTarget': 'api/ar-event-target.md'
      - 'AREventType': 'api/ar-event-type.md'
    - 'Speedy':
      - 'Speedy': 'api/speedy.md'
      - 'SpeedySize': 'api/speedy-size.md'
      - 'SpeedyMatrix': 'api/speedy-matrix.md'
      - 'SpeedyPromise': 'api/speedy-promise.md'
  - 'Help':
    - 'Contact': 'contact.md'
    - 'Questions & Answers': 'faq.md'
    - 'Guidelines for Images': 'guidelines-for-images.md'
    - 'License': 'license.md'