{% extends "main.html" %}

{% block tabs %}
{{ super() }}

<style>
.md-main {
    display: none;
}

.md-nav {
    display: none;
}

.md-header {
    box-shadow: none !important;
}

:root {
    --md-secondary-fg-color: var(--md-accent-fg-color);
}

#splash {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    padding-left: 16px;
    padding-right: 16px;
}

#splash::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/splash.webp);
    background-position: 80% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
}

@media screen and (min-width: 1220px) {
    #splash::before {
        background-position: center;
    }
}

.splash-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.splash-text {
    font-size: 16pt;
    padding: 0 14px 0 14px; /* align to header */
    text-align: center;
}

.splash-image {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.splash-text em {
    font-style: normal;
    color: var(--md-accent-fg-color);
}

.splash-text h1 {
    margin: 0.5em 0 0.5em 0;
    color: var(--md-primary-bg-color);
    font-size: 1.8em;
}

.splash-text h2 {
    margin: 0.5em 0 0.5em 0;
    color: var(--md-primary-bg-color);
    font-size: 1.25em;
}

.splash-image > * {
    width: 80%;
    border-radius: 32px;
    border: 4px solid var(--md-primary-fg-color--light);
}

#splash nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 24px auto;
    row-gap: 16px;
}

@media screen and (min-width: 1220px) {
/*
    .splash-container {
        align-items: center;
        flex-direction: row;
    }

    .splash-text {
        flex: 14;
        text-align: left;
    }

    .splash-image {
        flex: 9;
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
    }

    .splash-image > * {
        width: 100%;
    }
*/
}

.md-button:not(:hover,:focus) {
    /*background-color: var(--md-primary-fg-color) !important;*/
    background-color: none !important;
    border-color: var(--md-primary-bg-color) !important;
    color: var(--md-primary-bg-color) !important;
}

.md-button.md-button--primary:not(:hover,:focus) {
    background-color: var(--md-primary-bg-color) !important;
    border-color: var(--md-primary-bg-color) !important;
    color: var(--md-primary-fg-color) !important;
}

@keyframes appear {
    from { transform: translateY(10%); opacity: 0.01; }
    to { transform: translateX(0); opacity: 1; }
}

.appear {
    animation: appear 0.5s ease-out 0.2s;
    animation-fill-mode: both;
}

.text-center {
    text-align: center;
}
</style>

<section id="splash">
    <div class="splash-container md-grid">
        <div class="splash-text md-typeset appear text-center">
            <h1>encant<em>ar</em>.js</h1>
            <h2>The Augmented Reality engine that will enchant you!</h2>
            <nav>
                <a href="{{ './home' | url }}" class="md-button md-button--primary" id="splash-get-started" data-goatcounter-click>Get started</a>
                <a href="{{ './demos/hello-aframe/poster.html' | url }}" class="md-button" target="_blank" id="splash-try-demo" data-goatcounter-click>Try a demo</a>
            </nav>
        </div>
        <!--
        <div class="splash-image appear">
            <video poster="{{ './img/splash.gif' | url }}" muted loop playsinline autoplay>
                <source src="{{ './img/demo-cool3.webm' | url }}" type="video/webm" />
                <source src="{{ './img/demo-cool3.mp4' | url }}" type="video/mp4" />
            </video>
        </div>
        -->
    </div>
</section>

{% endblock %}

{% block announce %}{% endblock %}
{% block site_nav %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
