{% extends "base.html" %}

{% block extrahead %}
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}">
<meta property="og:description" content="{{ config.site_description }}">
<meta property="og:url" content="{{ config.site_url }}">
<meta property="og:image" content="{{ config.site_url }}/img/poster.png">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="robots" content="index, follow">
{% endblock %}

{% block libs %}
{{ super() }}
<script data-goatcounter="https://encantar-js.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{% endblock %}

{% block _announce %}
<a href="#" target="_blank" style="color:white"></a>
{% endblock %}

{% block content %}
{{ super() }}
{% endblock %}