{% extends "base.html" %}

{% block extrahead %}
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}">
<meta property="og:description" content="{{ config.site_description }}">
<meta property="og:url" content="{{ config.site_url }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="robots" content="index, follow">
{% endblock %}

{% block libs %}
{{ super() }}
<script data-goatcounter="https://encantar-js.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
{% endblock %}

{% block footer %}
<button id="support-button" onclick="document.getElementById('support-widget').classList.toggle('invisible')" data-goatcounter-click>
    &#x1F468;&#x200D;&#x1F4BB; Need help?
</button>
<section id="support-widget" class="md-typeset invisible">
    <h4>Contact Alex &#x1F9D9;&#x200D;&#x2642;&#xFE0F;</h4>
    <p>Get expert guidance on WebAR with encantar.js by contacting me at <a class="support-link" href="#"></a>.</p>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var salad = 'nbjmup;tvqqpsuAfodboubs/efw';
    var link = salad.split('').map(c => String.fromCharCode(c.charCodeAt(0)-1)).join('');
    document.querySelectorAll('a.support-link').forEach(function(a) {
        a.href = link;
        if(a.innerText.length == 0)
            a.innerText = link.substring(7);
    });
});
</script>
{{ super() }}
{% endblock %}