body {
    background-color: black;
    background-image: url("../assets/poster.svg"), linear-gradient(black, 20%, #46346a);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#about {
    position: absolute;
    right: 0;
    top: 0;

    display: inline-block;
    margin: 0;
    padding: 0 0.25em;

    color: #fff;
    font-size: 48px;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    text-align: center;

    border-bottom: 4px solid;
    border-color: #5c3ba3;
    background: linear-gradient(0deg, #7b5ec4 0%, #bb7aff 100%);
    -webkit-tap-highlight-color: transparent;
}

#about:hover {
    border-color: #6742b8;
    background: linear-gradient(0deg, #8b72cb 0%, #c894ff 100%);
}

#about:active {
    border-color: #a5a500;
    background: linear-gradient(0deg, #cccc00 0%, #ffff00 100%);
}

#about::before {
    content: '\24D8';
}

#about:focus {
    outline: none;
}
