body {
    background-color: #46346a;
    background-image: url("../assets/poster.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#scan {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.75;
}

#about {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    color: #fff;
    font-size: 56px;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    text-align: center;

    border-width: 0 0 2px 2px;
    border-radius: 0 0 0 8px;
    border-style: solid;
    border-color: #673ab6;
    background: linear-gradient(0deg, #7e56c2 0%, #9574cd 100%);
    -webkit-tap-highlight-color: transparent;
}

#about:hover {
    border-color: #6742b8;
    background: linear-gradient(0deg, #8b72cb 0%, #c894ff 100%);
}

#about:active {
    border-color: #ddc300;
    background: linear-gradient(0deg, #ffd500 0%, #ffff00 100%);
}

#about::before {
    content: '\24D8';
    width: 100%;
    text-align: center;
}

#about:focus {
    outline: none;
}