body {
    background-color: #3d5afe;
}

#scan {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.75;
}

#toggle-webcam {
    display: inline-block;
    width: 64px;
    height: 64px;

    border: 0;
    font-size: 36px;
    color: #fff;
    background: none;

    position: absolute;
    right: 0;
    top: 0;
}

#toggle-webcam:hover {
    cursor: pointer;
}