body {
    background-color: #673ab6;
    background-image: url(../assets/poster.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#scan {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.75;
    z-index: 0;
}

#info, #like {
    position: absolute;
    width: 64px;
    height: 64px;

    opacity: 0.5;
    z-index: 1;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    background-color: transparent;
    background-size: cover;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 64px;
}

#info:active, #info:focus, #like:active, #like:focus {
    background-color: #ffd500;
    border-color: #ffd500;
    opacity: 1.0;
}

#info {
    bottom: 24px;
    left: 24px;
    background-image: url(../assets/info.svg);
}

#like {
    top: 24px;
    right: 24px;
    background-image: url(../assets/heart.svg);
}
